@use "../utils/" as *;

.faq {
   border-radius: 0.5rem;
   background-color: var(--color-neutral-1);

   margin-inline: auto;
   padding: var(--spacing-md-1) var(--spacing-md-1) 0 var(--spacing-md-1);

   max-width: 32rem;

   box-shadow: 0 6px 20px var(--color-primary-1-shadow);

   &__header {
      display: flex;
      align-items: center;
      gap: var(--spacing-md-1);

      &-image {
         width: 1.5rem;
      }
   }

   &__content {
      padding-block: var(--spacing-md-1);
      display: grid;
      overflow: hidden;

      &:not(:last-child) {
         border-bottom: 1px solid var(--color-neutral-2);
      }

      &::details-content {
         block-size: 0;
         transition: block-size var(--animation-speed) ease-in-out,
            content-visibility var(--animation-speed); // need to delay for animation visual
         transition-behavior: allow-discrete; //allow content - visibility to animate
      }

      &[open]::details-content {
         block-size: auto;
      }

      &-question {
         display: flex;
         align-items: center;
         justify-content: space-between;

         cursor: pointer;
      }

      &-question:hover h2 {
         color: var(--color-primary-3);
      }

      &-question::after {
         content: "";
         flex-shrink: 0;

         margin-left: var(--spacing-sm-2);
         width: 1.875rem;
         height: 1.9375rem;

         background-image: url("../assets/images/icon-plus.svg");
      }

      &[open] &-question::after {
         content: "";
         background-image: url("../assets/images/icon-minus.svg");
      }

      &-answer {
         padding-block-start: var(--spacing-md-1);
      }
   }
}
